.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex ;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
}


nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    
}
nav a:hover{
    color: yellow;
}